.color-info {
  background-color: #5bc0de;
}

.color-danger {
  background-color: #d9534f;
}

.color-success {
  background-color: #5cb85c;
}

.color-inverse {
  background-color: #292b2c;
}

.color-primary {
  background-color: #0275d8;
}
