.skills-section-container {
  background-color: #f6b26b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  padding: 10px 10px;
}

.skill-description {
  width: 100%;
  height: 50%;
  padding: 10px 10px;
}
