.work-section-container {
  background-color: #ffe599;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
}

.work-description {
  width: 100%;
  padding: 10px 10px;
}

.production-button {
  width: 300px;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 5px;
}

/* Wavy Background */
.work-background {
  background-image: url("../resources/work-section-background.svg");
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .work-section-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .work-description {
    width: 30%;
    margin: 30px;
  }

  .production-button {
    width: 490px;
  }
}
